/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&family=Graduate:wght@300;400;500;700;800&display=swap');

/* colors vars */
:root {
    --red: #A61436;
    --white: #f7f7f7;
    --purple: #6f54d3;
}


body {
    font-family: Solway, sans-serif;
    background-color: var(--white);
    margin: 0 40px;
    padding: 0;
}
h1 {
    text-align: center;
    color: var(--red);
    font-family: 'Graduate', serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
}
h2 {
    color: var(--red);
    font-family: 'Solway';
    font-size: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}